openai
litellm==0.1.226
scikit-learn
numpy
trafilatura  # for html extraction
beautifulsoup4  # for xml/html extraction
pdfminer  # for pdf extraction
tiktoken  # for cost-estimation
lxml      # for xml/html extraction
lark      # for parser
rich      # for --step-rich table display
